@keyframes mainAni {
  0% {
    opacity: 0;
    transform: translateY(5rem);
    border-top: 0px solid $primaryColor;
  }
  50% {
    transform: translateY(-5rem);
    border-top: 1px solid $primaryColor;
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
    border-top: 2px solid $primaryColor;
  }
}
